/* --bittersweet: #ff6663ff;
   --dim-gray: #606060ff;
   --dark-sea-green: #86bb8cff;
   --lavender-blue: #c6d4ffff;
   --lavender-blush: #f6e8eaff; */

.root {
    -fx-background-color: #c9eacd;
    -fx-text-fill: #494949;
    -fx-font-size: 12pt;
}

.button {
    -fx-background-color: #86bb8c;
    -fx-background-radius: 10;
    -fx-min-width: 60;
    -fx-padding: 5;
}

.menu-button{
    -fx-background-color: #86BB8C;
    -fx-background-radius: 10;
    -fx-min-width: 60;
    -fx-padding: 5;
}

.progress-bar{
    -fx-accent : red;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-fill: #494949;
}

.label {
    -fx-text-fill: #494949;
}

.labelWarning {
    -fx-text-fill: #ff6663;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: #494949;
}

.axis-label {
    -fx-text-fill: #494949;
}

.chart {
    -fx-background-color: #c9eacd;
}

.chart-title {
    -fx-text-fill: #494949;
    -fx-font-size: 1.6em;
}

.chart-legend {
    -fx-text-fill: #494949;
}

.chart-legend {
    -fx-background-color: #c9eacd;
}

.text-area {
    -fx-text-fill: #494949;
    -fx-font-size: 16pt;
}